.header {
  display: flex;
  padding: 46px;
  justify-content: space-between;
  color: #2b2b2b;
}
.header .rigth_site {
  display: flex;
}
.header .lef_site {
  display: flex;
}
.header svg {
  width: 1.5rem;
  padding: -10px;
  padding-left: 14px;
  padding-bottom: 20px;
}
.header a {
  text-decoration: none;
  color: #2b2b2b;
  padding: 20px;
  padding-top: 17px;
  text-decoration: none;
  color: #2b2b2b;
  padding-left: 20px;
  height: 0px;
}

.header .rigth_site .logo {
  width: 84px;
}
.translate_box {
  background-color: rgb(251, 251, 251);
  color: #2b2b2b;
  border: solid #2b2b2b;
  text-align: center;
}

.header-info {
  background-color: #f2f2f2;
  color: #4e4e4e;
  opacity: 1;
  height: 35px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-content {
  background-image: url(./img/back-ground-img.webp);
  background-size: cover;
  color: #444;
  font-size: 18px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box-content .conlagen {
  opacity: 1;

  width: 22rem;
  height: 20rem;
  justify-self: baseline;
  display: flex;
  align-content: flex-end;
}
.box-content .conlagen:hover {
  transform: scale(1.1);
}

.box-content .lady {
  opacity: 1;
  width: 28rem;
  height: 24rem;
}

.box-content .top_product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  gap: 31px;
  align-items: center;
}

.box-content .top_product h1 {
  font-size: 3rem;
  font-weight: bold;
}
.box-content .top_product h2 {
  line-height: 1.2;
  font-size: 2rem;
}
.box-content .top_product .Shop_botum {
  color: #ffffff;
  background: linear-gradient(
    135deg,
    rgb(45, 42, 42) 36%,
    rgb(193, 191, 191) 100%
  );
  text-decoration: none;
  width: 136px;
  display: flex;
  justify-content: center;
  padding: 18px;
  box-shadow: 2px 5px 49px 1px rgba(0, 0, 0, 0.75);
}
.box-content .top_product .Shop_botum:hover {
  color: #000000;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 36%,
    rgb(193, 191, 191) 100%
  );
}

.box-content .top_product p {
  text-align: center;
}
.Fitness_market {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 53px;
}
.Fitness_market img {
  width: 9rem;
}
.Fitness_market h1 {
  font-size: 37px;
  margin-top: 22px;
  color: #2b2b2b;
}
.img_recipe a img {
  width: 22rem;
}
.img_recipe {
  display: flex;
  justify-content: center;
  background: cover;
}

.videos h1 {
  color: #2b2b2b;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 47px;
}
.videos {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding: 2px;
}
.videos .videos_options {
  padding: 4px;
}
.last_menu .btn {
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  background: #4dbbc3;
  border: 2px solid #4dbbc3;
  font-size: 12px;
  height: 40px;
  padding: 0.375rem 0.75rem;
}
.last_menu .email input {
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  padding: 0.375rem 0.75rem;
}

.footer .my_footer a img {
  width: 40px;
  height: 40px;
  padding-left: 20px;
}
.footer .my_footer .logo img {
  width: 9rem;
  height: auto;
  padding-left: 53px;
}
.footer h2 {
  font-size: 16px;
  color: #444;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}
.footer ul {
  text-align: initial;
  color: #444;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  list-style: none;
}
.footer ul li a {
  margin-top: 5px;
  line-height: 24px;
  text-decoration: none;
  color: #444;
  display: list-item;
  text-align: match-parent;
}
.footer p {
  margin-bottom: 32px;
}

footer .footer {
  background-color: #f2f2f2;
  justify-content: space-around;
  display: flex;
  gap: 64px;
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
}
.footer .social_media {
  padding-top: 22px;
  display: flex;
  justify-content: space-around;
}
footer .optional_text {
  padding: 32px 60px;
  border-top: 1px solid #ccc;
  text-align: center;
  display: block;
  background-color: #f2f2f2;
}
.footer .last_menu form {
  display: flex;
}
/*---------------------drop_down-------------------------------------------*/

.drop_down {
  background-color: #ffffff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.drop_down1 {
  position: relative;
  display: inline-block;
  top: 17px;
}
.list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.list li {
  color: black;
  padding: 12px 16px 12px 0;
  text-decoration: none;
  display: block;
}
.list li:hover {
  background-color: #ddd;
}
.drop_down1:hover .list {
  display: block;
}
.drop_down1:hover .drop_down {
  background-color: #ffffff;
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("/fonts/poppins-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/poppins-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/poppins-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/poppins-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/poppins-v20-latin-800.eot"); /* IE9 Compat Modes */
  src: url("/fonts/poppins-v20-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/poppins-v20-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/poppins-v20-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/poppins-v20-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/poppins-v20-latin-800.svg#Poppins")
      format("svg"); /* Legacy iOS */
}

* {
  font-family: "Poppins";
  color: #444444;
}

/*==================== mainBody =========================*/

/*==================== shopByCategory START =========================*/

.shopByCategory-Headline {
  display: grid;
  grid-template-rows: 2;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.shopByCategory-Headline h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

/* SHOP BY CATEGORY CONTAINER START */

.shopByCategory-Wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem;
}

.shopByCategory-Wrapper div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: linear-gradient(
    0deg,
    rgba(203, 203, 203, 1) 0%,
    rgb(255, 255, 255) 100%
  );
  align-items: center;
  font-size: 1.2rem;
}

.shopByCategory-Wrapper img {
  width: 15rem;
}

.shopByCategory-Wrapper p {
  flex-grow: 1;
}

/*==================== shopByCategory END =========================*/
/*==================== International Shipping Start =========================*/

.internationalShipping {
  background-color: #4dbbc3;
  background-image: url(/Images/InternationalShipping.webp);
  background-size: cover;
  width: 100vw;
  height: 300px;
}

.internationalShipping:hover {
  background-image: url(/Images/Shipping-ReviewV2.png);
  background-size: cover;
}

/*==================== International Shipping END =========================*/

/*==================== Trending Products START =========================*/

.trendingProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.trendingProducts h3 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.trendingProducts-wrapper1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
}

.trendingProducts-wrapper1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.trendingProducts-wrapper1 span {
  font-size: 1.1rem;
  font-weight: 400;
}

.trendingProducts-wrapper1 p {
  font-family: sans-serif;
}

.trendingProducts-wrapper1 img {
  width: 15rem;
}

.imageLarge:hover {
  transform: scale(1.1);
}

.buttonChange:hover {
  background-color: white;
  color: #4dbbc3;
}

.trendingProducts-wrapper1 button {
  background-color: #4dbbc3;
  color: white;
  border: 1px solid #4dbbc3;
  border-radius: 3px;
  padding: 0.5rem 2.5rem;
}

.trendingProducts-wrapper2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  margin-top: 5rem;
}

.trendingProducts-wrapper2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.trendingProducts-wrapper2 span {
  font-size: 1.1rem;
  font-weight: 400;
}

.trendingProducts-wrapper2 p {
  font-family: sans-serif;
}

.trendingProducts-wrapper2 img {
  width: 15rem;
}

.trendingProducts-wrapper2 button {
  background-color: #4dbbc3;
  color: white;
  border: 1px solid #4dbbc3;
  border-radius: 3px;
  padding: 0.5rem 2.5rem;
}
/*==================== Trending Products END =========================*/
/*==================== GiftCard START =========================*/
.giftCard {
  margin: 2rem 0;
  width: 100vw;
}
/*==================== GiftCard END =========================*/
/*==================== Blog START =========================*/

.Blog-header {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem;
}

.blog-wrapper span {
  color: #4dbbc3;
}
.blog-wrapper span:hover {
  color: black;
}
.blog-wrapper span::before {
  content: "--- ";
}
.blog-wrapper h3 {
  font-size: 1.1rem;
}

.blog-wrapper h3:hover {
  color: #4dbbc3;
}

.blog-wrapper p {
  font-size: 0.9rem;
}

.blog-wrapper img {
  width: 100%;
  height: 15rem;
}

.blog-wrapper div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  flex-grow: 1;
}

.blog-wrapper button {
  background-color: #4dbbc3;
  color: white;
  border: 1px solid #4dbbc3;
  border-radius: 3px;
  padding: 0.5rem 2.5rem;
  width: 12rem;
}

/*==================== Blog END =========================*/
/*==================== Subscribe START =========================*/

.subscribe-wrapper {
  display: flex;
  flex-direction: row;
  background-image: url(/Images/back-ground-img-subscribe.webp);
  background-size: cover;
  padding: 1rem 5rem 0 5rem;
  align-items: center;
}

.subscribe-wrapper img {
  width: 30rem;
}

.subscribe-wrapper button img {
  width: 2rem;
  color: white;
}

.subscribe-wrapper h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subscribe-wrapper span {
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
}

.subscribe-EnterEmail {
  display: flex;
  flex-direction: row;
}

.subscribe-EnterEmail input {
  padding: 0.3rem 2rem 0.3rem 0.5rem;
  width: 15rem;
}

.subscribe-EnterEmail button {
  width: 4rem;
  background-color: #4dbbc3;
  color: white;
  border: 1px solid #4dbbc3;
}
/*==================== Subscribe END =========================*/
